body {
    margin: 0;
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-image: url('/img/background.jpg');
    /* Para cubrir toda la pantalla */
    background-size: cover;
    background-position: right;
    /* Evita que la imagen se repita */
    background-repeat: no-repeat;

}

.form-container {
    background-color: rgba(255, 255, 255, 0.5);
    /* Fondo blanco con transparencia */
    border: 1px solid #ccc;
    /* Borde opcional */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
    /* Sombra difuminada */

}

.btn-red {
    background-color: #db2323;
    /* Rojo sólido */
    color: #ffffff;
    /* Texto blanco */
    border: 1px solid #cc0000;
    /* Borde rojo más oscuro */
    border-radius: 5px;
    /* Bordes ligeramente redondeados */
    padding: 10px 20px;
    /* Espaciado interno */
    font-size: 16px;
    /* Tamaño de la fuente */
    transition: background-color 0.3s ease;
    /* Efecto de transición */
}

.btn-red:hover {
    background-color: #cc0000;
    /* Rojo más oscuro al pasar el cursor */
    border-color: #990000;
    /* Cambia el borde también */
}

.form-control {
    border: 2px solid #8d8585 !important;
    /* Contorno rojo */
    border-radius: 5px;
    /* Bordes ligeramente redondeados */
    padding: 8px;
    /* Espaciado interno */
}